body {
  font-family: "Roboto";
  background-color: #ffffff;
}

.header {
  background-color: #c3cfd9;
  font-family: "Righteous";
  text-align: center;
  font-size: 34px;
}

.header p {
  padding: 12px;
  color: #e8833a;
}

.selection {
  font-size: 25px;
  text-align: center;
  margin: 40px;
}

img {
  width: 129px;
  height: 193px;  
  margin: 8px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  width: 375px;
}

.movie {
  margin: 19px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.session-day {
  padding-left: 10px;
  font-size: 20px;
}

.session-time {
  display: flex;
  margin-bottom: 20px;
  margin-top: 8px;
}

.time {
  background: #e8833a;
  border-radius: 3px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  margin: 8px;
}

.footer {
  width: 100%;
  background-color: #dfe6ed;
  border: 1px solid #9eadba;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}

.footer-movie {
  width: 64px;
  height: 89px;
  background-color: #ffffff;
  margin: 15px;
}

.footer-movie img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px;
}

.footer .title {
  font-size: 26px;
  padding-top: 40px;
  color: #293845;
}

.title-session {
  font-size: 26px;
  padding-top: 35px;
  color: #293845;
}

.title-hour {
  font-size: 26px;
  color: #293845;
}

.info-session {
  display: flex;
  flex-direction: column;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 362px;
  margin: 0 auto;
}

.seat {
  background: #c3cfd9;
  border: 1px solid #808f9d;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 3.5px;
  height: 26px;
  width: 26px;
  text-align: center;
}

.seat div {
  margin-top: 7px;
  font-size: 11px;
}

.seats-subtitle {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.selected .circle {
  height: 25px;
  width: 25px;
  background-color: #8dd7cf;
  color: #8dd7cf;
  text-align: center;
  border: 1px solid #1AAE9E;
  box-sizing: border-box;
  border-radius: 17px;
  margin-left: 25px;
}

.selected-seat {
  background-color: #8dd7cf;
  border: 1px solid #808F9D;
}

.available-seat {
  background-color: #c3cfd9;
  border: 1px solid #808F9D;
}

.unavailable-seat {
  background-color: #fbe192;
  border: 1px solid #F7C52B;
}

.available .circle {
  height: 25px;
  width: 25px;
  background-color: #c3cfd9;
  color: #c3cfd9;
  text-align: center;
  border: 1px solid #808F9D;
  box-sizing: border-box;
  border-radius: 17px;
  margin-left: 25px;
}

.unavailable .circle {
  height: 25px;
  width: 25px;
  background-color: #fbe192;
  color: #fbe192;
  text-align: center;
  border: 1px solid #F7C52B;
  box-sizing: border-box;
  border-radius: 17px;
  margin-left: 25px;
  background: #fbe192;
}

.user-data {
  max-width: 327px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;  
}

.name,
.cpf {
  margin-top: 5px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.reserve-seat {
  width: 200px;
  border: none;
  background: #e8833a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 200px;
}

.sucess {
  font-size: 25px;
  text-align: center;
  margin: 40px;
  color: #247a6b;
  font-weight: bold;
  margin-bottom: 80px;
}

.session-info-title {
  font-size: 24px;
  color: #293845;
  padding-left: 8px;
  font-weight: bold;
  margin-bottom: 15px;
}

.session-movie {
  font-size: 22px;
  padding-left: 8px;
}

.session-info {
  font-size: 22px;
  padding-left: 8px;
}

.ticket-info-title,
.user-info-title {
  font-size: 24px;
  color: #293845;
  padding-left: 8px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 15px;
}

.home {    
  width: 200px;
  border: none;
  background: #e8833a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 90px;
  padding: 15px;
  margin-left: 70px;  
}

button:hover{
    cursor: pointer;
}

a {
  width: 183px;
  height: 248px;
}

.showtime{
  width: auto;
  height: auto;
}

