body {
  font-family: "Roboto";
  background-color: #ffffff;
}

.header {
  background-color: #c3cfd9;
  font-family: "Righteous";
  text-align: center;
  font-size: 34px;
  width: 100vw;
}

.header p {
  padding: 12px;
  color: #e8833a;
}

.selection {
  font-size: 25px;
  text-align: center;
  margin: 39px;
  letter-spacing: 0.02em;
  color: #293845;
}

img {
  width: 129px;
  height: 193px;
  margin: 8px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 375px;
  margin: 0 auto;
  display: relative;   
}

.movie {
  margin: 19px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.session-day {
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
  color: #293845;
}

.session-time {
  display: flex;
  margin-bottom: 20px;
  margin-top: 8px;
  padding-left: 15px;
  }

.time {
  background: #e8833a;
  border-radius: 3px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  margin: 4px;
  width: 82px;
  height: 43px;
  text-align: center;
  padding-top: 12px;
  letter-spacing: 0.02em;
}

.footer {
  width: 100vw;
  background-color: #dfe6ed;
  border: 1px solid #9eadba;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.footer-movie {
  width: 64px;
  height: 89px;
  background-color: #ffffff;
  margin: 15px;
  flex-shrink: 0;
}

.footer-movie img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px;
}

.footer .title {
  font-size: 26px;  
  color: #293845;
}

.title-session {
  font-size: 26px;  
  color: #293845;
  
}

.title-hour {
  font-size: 26px;
  color: #293845;
}

.info-session {
  display: flex;
  flex-direction: column;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 362px;
  margin: 0 auto;
}

.seat {
  background: #c3cfd9;
  border: 1px solid #808f9d;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 3.5px;
  height: 26px;
  width: 26px;
  text-align: center;
}

.seat div {
  margin-top: 7px;
  font-size: 11px;
}

.seats-subtitle {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 375px;
  margin: 0 auto;
  margin-top: 20px;
}

.selected .circle {
  height: 25px;
  width: 25px;
  background-color: #8dd7cf;
  color: #8dd7cf;
  text-align: center;
  border: 1px solid #1aae9e;
  box-sizing: border-box;
  border-radius: 17px;
  margin: 0 auto;
}

.selected-seat {
  background-color: #8dd7cf;
  border: 1px solid #808f9d;
}

.available-seat {
  background-color: #c3cfd9;
  border: 1px solid #808f9d;
}

.unavailable-seat {
  background-color: #fbe192;
  border: 1px solid #f7c52b;
}

.available .circle {
  height: 25px;
  width: 25px;
  background-color: #c3cfd9;
  color: #c3cfd9;
  text-align: center;
  border: 1px solid #808f9d;
  box-sizing: border-box;
  border-radius: 17px;
  margin: 0 auto;
}

.unavailable .circle {
  height: 25px;
  width: 25px;
  background-color: #fbe192;
  color: #fbe192;
  text-align: center;
  border: 1px solid #f7c52b;
  box-sizing: border-box;
  border-radius: 17px;
  margin: 0 auto;
  background: #fbe192;
}

.user-data {
  max-width: 327px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 13px;  
}

.title-input {
  font-size: 18px;
}

#placeholder-text1::placeholder {
  font-size: 18px;
  font-style: italic;
  color: #afafaf;
  padding-left: 5px;
}

#placeholder-text2::placeholder {
  font-size: 18px;
  font-style: italic;
  color: #afafaf;
  padding-left: 5px;
}


.name,
.cpf {
  margin-top: 5px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.reserve-seat {
  width: 225px;
  height: 48px;
  border: none;
  background: #e8833a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 150px;
  padding: 15px;
  display: block;
  letter-spacing: 0.04em;
}

.sucess {
  font-size: 24px;
  text-align: center;
  margin: 40px;
  color: #247a6b;
  font-weight: bold;
  margin-bottom: 70px;
  padding-left: 60px;
  padding-right: 60px;
  letter-spacing: 0.04em;
}

.session-info-title {
  font-size: 24px;
  color: #293845;
  padding-left: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 28px;
  letter-spacing: 0.04em;
}

.session-movie {
  font-size: 22px;
  padding-left: 8px;
  padding-left: 28px;
  letter-spacing: 0.04em;
}

.session-info {
  font-size: 22px;
  padding-left: 8px;
  padding-left: 28px;
  letter-spacing: 0.04em;
}

.ticket-info-title,
.user-info-title {
  font-size: 24px;
  color: #293845;
  padding-left: 8px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 15px;
  padding-left: 28px;
  letter-spacing: 0.04em;
}

.home {
  width: 200px;
  border: none;
  background: #e8833a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px;
  display: block;
  margin-top: 50px;
  letter-spacing: 0.04em;
}

button:hover {
  cursor: pointer;
}

a {
  width: 183px;
  height: 248px;
}

.showtime {
  width: auto;
  height: auto;
}

.last{
  margin-bottom: 150px;
}

.reserve-seat:disabled{
  background-color: gray;
}

.go-back img {
  width: 30px;
  height: 30px;  
}

.go-back {  
  width: 60px;
  height: 60px;
  border: none;
  background-color: #ffffff;  
}

@media (max-width: 320px) {
  .title-session,
  .title-hour {
    font-size: 20px;
  }

  .movies {
    width: 100%;
  }

  .seat {
    width: 24px;
    height: 24px;
    margin: 2px;
  }

  .user-data {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seats {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seats-subtitle {
    width: auto !important;
  }

  .selection {
    font-size: 20px;   
     
  }

  .home {
    margin-bottom: 40px;
  }

  a {
    width: 160px;
    height: 227px;
  }

  img {
    width: 106px;
    height: 163px;
    margin: 8px;
  }
}
